*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "wdth" 100;
    line-height: 30px;
    --slate_grey: # #191919 ;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0,0, 0,0.19) #FFE2E2, );
}



section{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile_pic{
    margin-top: 40px;
    position: absolute;
    top: -70px;
    left: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
}
.profile_pic img{
    width:100%;
    height:auto;
}
.content{
    margin-top: 220px;
    padding: 20px;

}
.text p{
    position: absolute;
    top: 170px;
    left:20px;
    font-weight: 500;
    color: #fff;
}
.j_title{
    color: var(--slate_grey);
    font-weight: 700;
    text-align: center;
    font-size: 1.4rem;

}
.bio{
    padding-top: 5px;
    text-align: justify;
    color: var(--slate_grey) ;
}
span{
    font-weight: 500;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.other_info{
    padding-top:10px;
    color: var(--slate_grey) ;
}
